@page "/Posts/{PostId:int}"
@using System.Security.Claims
@inject IPostService PostService
@inject ICommentService CommentService
@inject NavigationManager NavManager


@if (post == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <h1>@post.Title</h1>
    <p class="border text-center px-3 py-2 d-inline-block" id="post-author">
        Author: <span class="fw-semibold">@post.Author.Username</span></p>
    @if (userId == post.UserId)
    {
        <button class="btn btn-dark"
                @onclick="@(() => NavManager.NavigateTo($"/EditPost/{post.Id}"))">
            Edit Post
        </button>
    }

    <div class="post-body">
        <p>@post.Body</p>
    </div>
    <hr/>
    @if (post.Comments != null)
    {
        <div class="mb-2 w-25">
            <SearchBox Type="number" Label="Filter by User id"
                       Placeholder="Enter user id"
                       OnSearchChanged="FilterByUserId"/>
        </div>
        <div class="mb-2 w-25">
            <SearchBox Type="text" Label="Filter by Author"
                       Placeholder="Enter author"
                       OnSearchChanged="FilterByAuthor"/>
        </div>
        <div class="mb-2 w-25">
            <SearchBox Type="text" Label="Sort by 'userid_asc' or 'userid_desc'"
                       Placeholder="Enter sort by"
                       OnSearchChanged="FilterBySortBy"/>
        </div>
        <CommentList Comments="filteredComments"/>
    }

    <hr/>

    @if (!string.IsNullOrWhiteSpace(errorMessage))
    {
        <p class="text-danger">@errorMessage</p>
    }


    <p class="h5">Create Comment:</p>
    <AuthorizeView>
        <Authorized>
            <textarea @bind="commentBody" placeholder="Write your comment here"
                      class="form-control mb-2"/>
            <button class="btn btn-dark"
                    @onclick="async () => await CreateComment(commentBody)">
                Submit
            </button>
        </Authorized>
        <NotAuthorized>
            <p>You'll have to log in to comment!</p>
            <a href="/login" class="btn btn-primary">Go to Login</a>
        </NotAuthorized>
    </AuthorizeView>
}

@code {
    [Parameter] public int PostId { get; set; }

    [CascadingParameter] public Task<AuthenticationState> State { get; set; }

    AuthenticationState authenticationState;
    int userId;


    private PostWithCommentsDTO? post;

    private IEnumerable<CommentDTO>? filteredComments = Enumerable.Empty<CommentDTO>();

    private string commentBody { get; set; } = string.Empty;
    private int? commentUserId { get; set; } = null;
    private string? errorMessage;


    private string userIdFilter = string.Empty;
    private string authorFilter = string.Empty;
    private string sortByFilter = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        post = await PostService.GetSinglePostByIdAsync(PostId, "comments");

        authenticationState = await State;
        ClaimsPrincipal claimsPrincipal = authenticationState.User;

        if (claimsPrincipal.Identity is not null && claimsPrincipal.Identity.IsAuthenticated)
        {
            userId = int.Parse(claimsPrincipal.FindFirst(ClaimTypes.NameIdentifier)!.Value);
        }

        filteredComments = post.Comments;
    }

    private async Task CreateComment(string body)
    {
        try
        {
            authenticationState = await State;
            ClaimsPrincipal claimsPrincipal = authenticationState.User;

            if (claimsPrincipal.Identity is null || !claimsPrincipal.Identity.IsAuthenticated)
            {
                // the user is not logged in
                return;
            }

            userId = int.Parse(claimsPrincipal.FindFirst(ClaimTypes.NameIdentifier)!.Value);
            CreateCommentDTO commentRequest = new CreateCommentDTO { Body = body, PostId = PostId, UserId = userId };
            await CommentService.CreateCommentAsync(commentRequest);
            var refreshedPost = await PostService.GetSinglePostByIdAsync(PostId, "comments");
            if (refreshedPost != null)
            {
                post = refreshedPost;
                filteredComments = post.Comments;
                errorMessage = string.Empty;
            }

            commentBody = string.Empty;
            commentUserId = null;
        }
        catch (Exception e)
        {
            errorMessage = e.Message;
        }
    }

    private async Task FilterByUserId(string userid)
    {
        userIdFilter = userid;
        await FilterComments();
    }

    private async Task FilterByAuthor(string author)
    {
        authorFilter = author;
        await FilterComments();
    }


    private async Task FilterBySortBy(string sortBy)
    {
        sortByFilter = sortBy;
        await FilterComments();
    }

    private async Task FilterComments()
    {
        int? userIdQueryParameter = null;


        if (!string.IsNullOrWhiteSpace(userIdFilter) && int.TryParse(userIdFilter, out var userid))
        {
            userIdQueryParameter = userid;
        }


        filteredComments = await CommentService.GetCommentsAsync(userIdQueryParameter,
            string.IsNullOrWhiteSpace(authorFilter) ? null : authorFilter,
            null,
            string.IsNullOrWhiteSpace(sortByFilter) ? null : sortByFilter
        );
    }

}